/* @import "./Components/MainPage/MainPage.module.css";
@import "./Components/CityPage/CityPage.module.css"; */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 726px;
}
